.footer {
    padding: 20px 0px;
    background-color: #249b7b;
  }
  .logo-footer{
    margin-left: 50px;
    padding-left: 10px;
  }
  .logo-footer img{
    margin-left: 50px;
  }
  .logo-footer p{
    font-size: 12px;
    color: white;
    margin-left: 20px;
  }
  .footer .footer_content {
      display: flex;
      justify-content: space-between;
  }
  .footer .footer_content .footer_item {
      width: 33%;
      width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer .footer_content .footer_item.redes-sociales.footer-line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
  }
  .footer .footer_content .footer_item.redes-sociales.footer-line::before {
    display: none;
  }
  .footer .footer-line {
    position: relative;
  }
  .footer .footer-line::before {
    content: "";
    position: absolute;
    background: #ffffff;
    height: 100%;
    width: 1px;
    left: 0;
    opacity: 0.4;
  }
  .footer .hour-container .hour-container-title {
    color: #ffffff;
    font-family: roboto, sans-serif;
    line-height: 14px;
    font-weight: 700;
    background-color: transparent;
    font-size: 14px;
  }
  .footer .hour-container .hour-container-list {
    padding-top: 20px;
    color: #C2C2C4;
    font-size: 14px;
  }
  .footer .hour-container .hour-container-day {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .telefonica-container {
    color: #ffffff;
    font-family: roboto, sans-serif;
    line-height: 14px;
    font-weight: 700;
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .telefonica-container .telefonica-container-title {
    color: #fcfcff;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px !important;
  }
  
  .telefonica-container .telefonica-container-number {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.content{
    max-width: 1156px;
    margin: auto;
}