

ul {
  list-style: none;
}
#hero {
  background-image:url(../img/hero.jpg);
  height: 350px;
  background-size: cover;
}
#encabezado {
  margin: 30px 0;
}
.submenu {
  position: relative;
  margin-left: 1500px;
 
}

.submenu #carrito{
  display: none;
  font-size: 10px;
}
.submenu:hover #carrito{
  display: block;
  position: absolute;
  right:0;

  top:100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}
.vacio {
  padding: 10px;
  background-color: crimson;
  text-align: center;
  border-radius: 10px;
  color: white;
}
